.valid {
    color: green;
    display: flex;
    align-items: center;
}

.invalid {
    color: red;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 5px;
}

.input-div {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

input {
    padding: 0.3rem;
    font-size: 18px;
}
